<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create VPS - ErtixNodes</title>
    <link rel="stylesheet" href="/dash/style.css">
</head>
<body>
    <div class="create-container">
        <div class="create-box">
            <h2>Create a VPS</h2>
            <input type="text" placeholder="VPS name">
            <select>
                <optgroup label="VPS">
                    <option value="alpine">Alpine v3.20 - free</option>
                    <option value="debian" disabled>Debian - 3 credits/hour</option>
                </optgroup>
            </select>
            <select>
                <optgroup label="Plans">
                    <option value="alpine">128 MB ram | 0.25 vCPU | 0.5 GB disk | 1 credit/minute</option>
                    <option value="alpine">256 MB ram | 0.25 vCPU | 1 GB disk | 2 credits/minute</option>
                    <option value="alpine">512 MB ram | 0.5 vCPU  | 2 GB disk | 4 credits/minute</option>
                    <option value="alpine">768 MB ram | 0.5 vCPU  | 2 GB disk | 6 credits/minute</option>
                    <option value="alpine">1 GB ram | 0.5 vCPU | 4 GB disk | 8 credits/minute</option>
                    <option value="alpine" disabled>1.5 GB ram | 0.5 vCPU | 4 GB disk | 12 credits/minute</option>
                    <option value="alpine" disabled>2 GB ram | 1 vCPU | 8 GB disk | 16 credits/minute</option>
                </optgroup>
            </select>
            <div class="create-buttons">
                <a href="/dash" class="cancel-button">Back</a>
                <button onclick="create()" class="create-button">Create</button>
            </div>
        </div>
    </div>
    
    <script></script>
</body>
</html>
