<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earn - ErtixNodes</title>
    <link rel="stylesheet" href="/dash/style.css">
</head>
<body>
    <div class="earn-container">
        <div class="earn-box">
            <h2>Earn credits</h2>
            <ul class="earn-list">
                <li>
                    <a href="/dash/earn/cuty" target="_blank">cuty.io</a> <span id="cutytime" class="timer">(loading)</span>
                </li>
            </ul>
        </div>
    </div>

    <script>
        async function time() {
            var res = await fetch('/dash/earn/cuty/time').then(r => r.text());
            document.getElementById('cutytime').innerHTML = `(${res})`;
        }

        time();

        setInterval(time, 1000);
    </script>
</body>
</html>