<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - ErtixNodes</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <meta name="monetag" content="430b865a90d2d16ecdaec3fdfe06db2d">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VH00E01KDE"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VH00E01KDE');
    </script>
</head>
<body class="bg-gray-800 text-white font-sans">

    <script>(function(d,z,s){s.src='https://'+d+'/400/'+z;try{(document.body||document.documentElement).appendChild(s)}catch(e){}})('aupoafto.com',7925389,document.createElement('script'))</script>
  <!-- In page push ^ --> 

<script src="https://kukrosti.com/act/files/tag.min.js?z=7960913" data-cfasync="false" async></script>
<!-- Push notifs ^ -->

<script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://zovidree.com/tag.min.js',7960389,document.body||document.documentElement)</script>
<!-- Popunder -->

    <nav class="bg-gray-900 py-6 shadow-lg">
        <div class="container mx-auto flex justify-between items-center px-4">
            <div class="text-3xl font-extrabold">
                <a href="#" class="text-green-400 hover:text-green-300 transition duration-300">
                    Ertix<span class="text-orange-400">Nodes</span>
                </a>
            </div>
            <div class="hidden md:flex space-x-6">
                <a href="#" class="flex items-center text-white hover:text-orange-400 transition duration-300">
                    Home
                </a>
                <a href="#aboutus" class="flex items-center text-white hover:text-orange-400 transition duration-300">
                    About us
                </a>
                <a href="#features" class="flex items-center text-white hover:text-orange-400 transition duration-300">
                    Features
                </a>
                <a href="#plans" class="flex items-center text-white hover:text-orange-400 transition duration-300">
                    Plans
                </a>
                <a href="https://ertixnodes.xyz/dash" class="bg-gradient-to-r from-green-400 to-orange-400 hover:from-orange-400 hover:to-green-400 text-white font-bold py-2 px-4 rounded-full transition duration-300">
                    Login
                </a>
            </div>
            <div class="md:hidden">
                <button id="menu-button" class="text-white focus:outline-none">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div id="mobile-menu" class="hidden md:hidden">
            <a href="/" class="block py-2 px-4 text-sm text-white hover:bg-gray-700">Home</a>
            <a href="/blog" class="block py-2 px-4 text-sm text-white hover:bg-gray-700">Blog</a>
            <a href="/#features" class="block py-2 px-4 text-sm text-white hover:bg-gray-700">Features</a>
            <a href="/#plans" class="block py-2 px-4 text-sm text-white hover:bg-gray-700">Plans</a>
            <a href="/dash" class="block py-2 px-4 text-sm text-white hover:bg-gray-700">Login</a>
        </div>
    </nav>

    <div class="container mx-auto mt-32 px-4">
        <h1 class="text-5xl font-bold">Blog</h1>

        <br /><br />
        <div id="frame" style="width: 100%;"><iframe data-aa='2312977' src='//acceptable.a-ads.com/2312977' style='border:0px; padding:0; width:100%; height:100%; overflow:hidden; background-color: transparent;'></iframe><a style="display: block; text-align: right; font-size: 12px" id="frame-link" href="https://aads.com/campaigns/new/?source_id=2312977&source_type=ad_unit&partner=2312977">Advertise here</a></div>
        <br /><br />

            <div class="bg-gray-700 p-6 rounded-lg shadow-lg my-3">
                <h3 class="text-2xl font-bold mb-4"><%- post.title %></h3>
                <p class="text-gray-300">
                    <%- String(post.content) %>
                </p>
            </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

    <script async="async" data-cfasync="false" src="//pl24093205.highratecpm.com/49ff494b61507c0a7a28e8eccd704be2/invoke.js"></script>
    <div id="container-49ff494b61507c0a7a28e8eccd704be2"></div>


    <footer class="bg-gray-800 text-white py-10 mt-16">
        <div class="container mx-auto flex justify-between items-start">
            <div class="flex flex-col">
                <h4 class="text-lg font-bold mb-2">ErtixNodes</h4>
                <p class="text-gray-400">ErtixNodes is a free Linux VPS hosting for learning!</p>
                <p class="text-gray-400 mt-4">2024-2024</p>
                <p class="text-gray-400">All rights reserved</p>
            </div>
    
            <div class="flex flex-col">
                <h4 class="text-lg font-bold mb-2">Links:</h4>
                <ul>
                    <li class="mb-2"><a href="https://discord.gg/xD297NPWzs" class="text-blue-400 hover:underline">Discord</a></li>
                    <li><a href="/dash" class="text-blue-400 hover:underline">Dashboard</a></li>
                </ul>
            </div>
    
            <div class="flex flex-col">
                <p class="text-gray-400 text-right">Landing page has been designed and developed by itsoffkey.</p>
                <p class="text-gray-400 text-right">Dashboard has been designed by itsoffkey. Developed by BasToTheMax.</p>
            </div>
        </div>
    </footer>
    
</body>
<script>

    document.getElementById('menu-button').addEventListener('click', function() {
            var menu = document.getElementById('mobile-menu');
            menu.classList.toggle('hidden');
    });
</script>
</html>
